.number {
  background-color: #c8c8cf;
  height: 100%; 
  width: 100%;
  border-color: rgb(133, 132, 132);
  border-width: 1px;
}
.number:hover {
  animation-name: background-color-number;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
   
}
.operator {
    background-color: #eb9f2d;
    color:white;
    height: 100%; 
    width: 100%;
    border-color: rgb(133, 132, 132);
    border-width: 1px; 
  }
.operator:hover {
  animation-name: background-color-operator;
  animation-duration: 500ms; 
  animation-fill-mode: forwards;

}
.display {
    background-color: #323245;
    color:white;
    height: 100%; 
    width: 200px;
    border-color: rgb(133, 132, 132);
    border-width: 1px;    
  }
.table {border: none; height:300px; width: 200px; background-color: blue; border-color: #323245; border: 1px;}

.maindiv {
  position: absolute;
  top:50%;
  left:50%;
  margin: -150px 0 0 -100px;
}
h1 {
font-family: Arial, Helvetica, sans-serif;
color: #eb9f2d;
text-align: center;
}


@keyframes background-color-number {
  0% {
    background-color: #e7e7eb;
  }
  100% {
    background-color: #e7e7eb;
  }
}
@keyframes background-color-operator {
  0% {
    background-color: #f7ddb8;
    top: 0px;
  }
  100% {
    background-color: #f7ddb8;
    top: 50px;

  }
}